@model Project

@{
    ViewData["Title"] = "Home Page";
    @* ViewData["BreadCrumbTitle"] = "Yönetim Paneli"; *@
    ViewData["Controller"] = "Projeler";
    ViewData["Action"] = "Detay/Güncelle";
}
<style>
    #map {
        height: 500px;
    }
</style>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<div>
    <a class="btn btn-primary" asp-action="Index">Listeye Geri Dön</a>
</div>
<div class="row justify-content-center">
    <div class="col">
        <form asp-action="Details" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Prize" class="control-label"></label>
                <input type="number" asp-for="Prize" class="form-control" />
                <span asp-validation-for="Prize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
                <div>
                    <p>Seçilen Koordinatlar: <span id="coords"></span></p>
                    <div id="map"></div>
                </div>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @* <script>
        let coords = document.getElementById("coords").textContent;
        console.log(coords)
        document.getElementById("Location").value = coords;
         let observer = new MutationObserver(() => {
        inputElement.value = coordsElement.textContent;
    });

    </script> *@
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script>
        var map = L.map('map').setView([39.92077, 32.85411], 6); // Türkiye merkezli aç
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        var marker;

        map.on('click', function (e) {
            if (marker) { map.removeLayer(marker); }
            marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
            document.getElementById('coords').innerText = `${e.latlng.lat}, ${e.latlng.lng}`;
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
