<footer class="py-4 bg-dark mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Coded By <a href="https://www.github.com/slymanmrcan"> Sanan </a></div>
            <div>
                <a href="#">Gizlilik Politikası</a>
                &middot;
                <a href="#">Şartlar &amp; Koşullar</a>
            </div>
        </div>
    </div>
</footer>