@{
    ViewData["Title"] = "Home Page";
    ViewData["BreadCrumbTitle"] = "Ana sayfa";
    ViewData["Controller"] = "Ana Sayfa";
    ViewData["Action"] = "Grafikler";
}
<div class="container-fluid px-4">
    <div class="row">
        <div class="col-4 mb-4">
            <div class="card">
                Başlanmayan Projeler @ViewBag.count
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card">
                Devam Eden Projeler @ViewBag.count
            </div>
        </div>
        <div class="col-4 mb-4">
            <div class="card">
                Tamamlanan Projeler @ViewBag.count
            </div>
        </div>
    </div>
    @* <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            Area Chart Example
        </div>
        <div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div> *@
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    En Büyük 3 Proje Fiyatı
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                @* <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> *@
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-pie me-1"></i>
                    Yapılan işler

                </div>
                <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                @* <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> *@
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Theme/assets/demo/chart-area-demo.js"></script>
    <script src="~/Theme/assets/demo/chart-bar-demo.js"></script>
    <script src="~/Theme/assets/demo/chart-pie-demo.js"></script>
}
